<!DOCTYPE html>
<html>
<head>
  <title>PaperTrailsTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{controller.controller_name}" %>'>
<div id="wrap">
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
