<h1>レストラン検索</h1>

<!-- 検索フォーム -->
<%= form_tag root_path, method: :get, enforce_utf8: false do %>
  <div class="form-group">
    <%= search_field_tag :q, params[:q], class: 'form-control', placeholder: '店名、場所、カテゴリ' %>
  </div>
  <div class="checkbox">
    <label>
      <%= check_box_tag :closed, 't', params[:closed].present? %> 閉店しているレストランも検索結果に含める
    </label>
  </div>
  <button type="submit" class="btn btn-default">検索</button>
<% end %>

<br>

<!-- 検索結果の表示 -->
<div class="col-xs-9">
  <div>検索結果: 約<%= @restaurants.results.total %>件</div>

  <div id="results">
    <% @restaurants.each do |r| %>
      <hr />
      <div class="result">
        <h4><%= r.name %>（<%= r.name_kana %>）</h4>
        <p class="text-muted">
          <small>都道府県: <%= r.pref.name %></small>
          <small>カテゴリ: <%= r.category.name %></small>
        </p>
      </div>
    <% end %>
  </div>
</div>
