<div class="col-md-12">
  <h1><%= link_to 'Search Restaurants', top_index_path %></h1>

  <!-- TODO: Extract to partial -->
  <%= form_tag top_search_path, method: :get do %>
    <%= hidden_field_tag :sort,  params[:sort] || 'id' %>
    <%= hidden_field_tag :order, params[:order] || 'asc' %>
    <%= hidden_field_tag :categories,  params[:categories] %>
    <%= hidden_field_tag :pref, params[:pref] %>

    <div class="input-group">
      <%= text_field_tag(
        :query,
        @search_form.query,
        class: 'form-control',
        placeholder: '店名、場所など'
      ) %>

      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>

    <div id="form-options" class="clearfix">
      <div class="btn-group pull-right">
        <%# 検索にヒットした件数を表示 %>
        <p style="float: left; margin: 0.1em 0 0 0">
          <small>
            Displaying <%= (params[:page] || 1).to_i.ordinalize %> page with <%= @restaurants.size %> restaurants of <strong>total <%= @restaurants.total %></strong>
          </small>
        </p>

        <%# ソート順 %>
        <!-- TODO: Refacoring Decorator? Helper? -->
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left: 0.5em">
          <% current_sort = (params[:sort] || 'id').humanize %>
          <% current_order = params[:order] || 'asc' %>
          sorted by <%= current_sort %> <%= current_order %><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% %w(id created_on relevancy).each do |sort| %>
            <% %w(asc desc).each do |order| %>
              <% next if sort == 'relevancy' && order == 'asc' %>
              <li>
                <%= link_to(
                  "Sort by #{sort.humanize} #{order}",
                  top_search_path(
                    params.except(:controller, :action).merge(sort: sort, order: order)
                  ),
                  class: 'btn-xs'
                ) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <hr>
</div>

<!-- TODO: Extract to partial -->
<div id="facets" class="col-md-3">
  <div class="categories panel panel-default">
    <p class="panel-heading">
      <%= link_to(
        'All Sections &rarr;'.html_safe,
        top_search_path(params.except(:controller, :action).merge(categories: nil))
      ) %>
    </p>
    <div class="list-group">
      <%
        categories_buckets =
          @restaurants.response.response['aggregations']['categories']['buckets'] ||
          @restaurants.response.response['aggregations']['categories']['pref']['buckets']
      %>
      <% categories_buckets.each do |b| %>
        <%= link_to(
          top_search_path(params.except(:controller, :action).merge(categories: b['key'])),
          class: "list-group-item#{' active' if params[:categories] == b['key']}"
        ) do
          b['key'].titleize.html_safe + content_tag(:small, b['doc_count'], class: 'badge').html_safe
        end %>
      <% end %>
    </div>
  </div>

  <div class="categories panel panel-default">
    <p class="panel-heading">
      <%= link_to(
        'All Sections &rarr;'.html_safe,
        top_search_path(params.except(:controller, :action).merge(pref: nil))
      ) %>
    </p>
    <div class="list-group">
      <%
        pref_buckets =
          @restaurants.response.response['aggregations']['pref']['buckets'] ||
          @restaurants.response.response['aggregations']['pref']['categories']['buckets']
      %>
      <% pref_buckets.each do |b| %>
        <%= link_to(
          top_search_path(params.except(:controller, :action).merge(pref: b['key'])),
          class: "list-group-item#{' active' if params[:pref] == b['key']}"
        ) do
          b['key'].titleize.html_safe + content_tag(:small, b['doc_count'], class: 'badge').html_safe
        end %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div id="results">
    <!-- TODO: Extract to partial -->
    <% @restaurants.each do |restaurant| %>
      <div class="result">
        <h3 class="name">
          <%= restaurant.id %>:
          <%= restaurant.try(:highlight).try(:name) ? restaurant.highlight.name.join.html_safe : restaurant.name %>
          <%= restaurant.try(:highlight).try(:property) ? restaurant.highlight.property.join.html_safe : restaurant.property %>
        </h3>

        <p><%= restaurant.try(:highlight).try(:description) ? restaurant.highlight.description.join.html_safe : restaurant.description %></p>

        <p class="text-muted">
          <small>Categories: <%= restaurant.categories.join(', ') %></small><br>
          <small>Address: <%= restaurant.address %></small><br>
          <small>Created on: <%= restaurant.created_on %></small> |
          <small>Score: <%= restaurant._score %></small>
        </p>
      </div>
    <% end %>
  </div>
  <%= paginate @restaurants %>
</div>
