<p id="notice"><%= notice %></p>

<h1>Listing Articles & Remote Tweet</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>[Remote] Tweet ID</th>
      <th>[Remote] Tweet</th>
      <th>[Remote] Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.remote_tweet_id %></td>
        <td>
          <% tweet = @tweets.find { |t| t.id == article.remote_tweet_id } %>
          <%= tweet.content %>
        </td>
        <td>
          <%= tweet.tags.map(&:name).join(", ") %>
        </td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
