<tr class="shop">
  <td><%= shop.name %></td>
  <td><%= shop.zipcode %></td>
  <td><%= shop.address %></td>
  <td><%= shop.tel %></td>
  <td><%= link_to 'Show', shop %></td>
  <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
  <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
