<h1>ToDo List</h1>

<%= form_for Task.new do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "タスクを追加" %>
<% end %>

<% if @incomplete_tasks.empty? && @complete_tasks.empty? %>
  <p>Currently no tasks. Add one above.</p>
<% else %>
  <h2>未完了のタスク</h2>
  <div class="tasks" id="incomplete_tasks">
    <%= render @incomplete_tasks %>
  </div>

  <h2>完了したタスク</h2>
  <div class="tasks" id="complete_tasks">
    <%= render @complete_tasks %>
  </div>
<% end %>
