<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @product.maker.try(:name) %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @product.cpu.try(:name) %>
</p>

<p>
  <strong>Author:</strong>
  <%= @product.author.try(:name) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
